@import './mixins/responsiveness';

// content container
$content-width: 1080px;

// common
.layout-content {
  width: $content-width;
  margin: 0 auto;
  @include mobile {
    width: 96vw;
  }
}

// base
.base {
  // section
  &-section {
    padding: $padding-base 0;
  }
}
