@font-face {
  font-family: 'iconfont';  /* project id 1803015 */
  src: url('//at.alicdn.com/t/font_1803015_hs7264m0vr.eot');
  src: url('//at.alicdn.com/t/font_1803015_hs7264m0vr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1803015_hs7264m0vr.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1803015_hs7264m0vr.woff') format('woff'),
  url('//at.alicdn.com/t/font_1803015_hs7264m0vr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1803015_hs7264m0vr.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}